.user{
    padding-top: 250px;
    padding-bottom: 55vw;
    background-image: url(../img/user-bottom-bg.png);
    background-repeat: repeat-x;
    background-position: center 100%;
    background-size: contain;
}

.user-header{
    padding-bottom: 21vw;
    position: relative;
}

.user-header:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 21vw;
    width: 100%;
    background-color: #fff;
    background-image: url(../img/user-header-clouds.png);
    background-size: 100% 100%;
}

.user-header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.user-header__button{
    width: 470px;
}

.user-header__input{
    width: 500px;
}

.user-header__caption{
    margin-top: 0px;
}

.user-header__stats{
    display: flex;
    grid-gap: 150px;
}

.user-header__stats > div{
    display: flex;
    align-items: center;
    grid-gap: 10px;
}

.user-tabs-header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--yellow);
}

.user-tabs-header__link{
    color: var(--purple);
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
}

.user-tabs-header__link_active{
    color: var(--text-color);
    border: 1px solid var(--yellow);
    border-bottom: none;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.user-tabs-header__link_active:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 1px;
}

.user-tabs-panels__panel{
    display: none;
}

.user-tabs-panels__panel_active{
    display: block;
}

.user__sub-info{
    margin-top: 100px;
    text-align: center;
}

.user__caption{
    margin-bottom: 40px;
}

.user-conditions-cols{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.user-conditions-cols__subcaption{
    margin-bottom: 30px;
}

.user-conditions__image{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.user-conditions__image-wrapper{
    position: relative;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.user-conditions__image-wrapper-text{
    position: absolute;
    max-width: 170px;
}

.user-conditions__image-wrapper-text_order_1{
    left: 0;
    top: 15px;
}

.user-conditions__image-wrapper-text_order_2{
    right: 0;
    top: 65px;
}

.user-conditions__image-wrapper-text_order_3{
    right: 0;
    top: 85px;
}

.user-conditions__image-wrapper-text_order_4{
    left: 0;
    top: 320px;
}

.user-conditions__image-wrapper-text_order_5{
    right: 0;
    top: 450px;
}

.user-conditions__image-wrapper-text_order_6{
    left: 0;
    top: 590px;
}

.user-conditions{
    padding-top: 100px;
}

.user-action{
    display: flex;
    justify-content: space-between;
}

.user-action > div{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

.user-action__info{
    padding: 25px 40px;
    border: 1px solid var(--purple);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 590px;
    font-size: 22px;
}

.table-header__input{
    max-width: 440px;
}

.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user__table-header{
    margin-bottom: 90px;
}