@media screen and (max-width: 1200px) {
    .user-conditions__image {
        max-width: 100%;
    }

    .user-conditions-cols {
        flex-direction: column-reverse;
        grid-gap: 40px;
    }

    .user-conditions-cols img {
        width: 100%;
    }

    .user-action {
        flex-direction: column;
        grid-gap: 40px;
    }

    .user {
        padding-top: 100px;
    }

    .user__caption {
        margin-bottom: 20px;
    }

    .user-header:after {
        height: 20vw;
    }

    .user-header {
        padding-bottom: 25vw;
    }

    .user-header__top {
        flex-direction: column;
        grid-gap: 20px;
    }

    .user-header__top>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-header__stats>div {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-header__stats {
        grid-gap: 0;
        justify-content: space-between;
    }

    .user-header__button {
        width: 100%;
    }

    .winners-table th {
        font-size: 16px;
        padding: 5px;
    }

    .winners-table td {
        font-size: 16px;
        padding: 5px;
    }

    .modal{
        padding: 20px;
    }

    .modal-choose__button{
        height: 180px;
    }

    .modal{
        width: calc(100% - 30px);
    }

    .modal-check-inputs{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .table-header{
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 20px;
    }

    .user__table-header{
        margin-bottom: 40px;
    }
}