:root{
    --main-text: #101820;
    --blue: #0069BA;
    --purple: #753BBD;
    --yellow: #F3E600;
    --black: #101820;
    --red: #C63B37;
    --white: #FFFFFF;
}

*{
    outline: none !important;
    box-sizing: border-box;
}

ul,
ol,
p,
div,
label,
h1,h2,h3,h4, h5{
    list-style: none;
    padding: 0;
    margin: 0;
}

button, button span{
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

img{
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

a,a:hover{
    text-decoration: none;
}


body{
    font-family: 'Lato';
}

.input{
    height: 64px;
    border-radius: 10px;
    width: 100%;
    background-color: transparent;
}

.textarea{
    height: 230px;
    border-radius: 10px;
    width: 100%;
    background-color: transparent;
    resize: vertical;
}

.textarea_color_white{
    border: 1px solid var(--white)
}

.textarea_color_black{
    border: 1px solid var(--black)
}

.input_color_white{
    border: 1px solid var(--white)
}

.input_color_black{
    border: 1px solid var(--black)
}

.text{
    font-weight: 400;
    color: var(--main-text);
}

.text a{
    color: var(--main-text);
}

.text a{
    text-decoration: underline;
}

.text_size_xl{
    font-size: 40px;
}

.text_size_big{
    font-size: 30px;
}

.text_size_normal{
    font-size: 24px;
}

/* .text_size_small{
    font-size: 20px;
} */

.text_color_black{
    color: var(--main-text);
}

.text_color_white{
    color: var(--white);
}

.text_color_white a{
    color: var(--white);
}

.text_color_yellow a{
    color: var(--yellow);
}

.text_color_yellow{
    color: var(--yellow);
}

.caption{
    font-weight: 700;
    line-height: 1.2;
}

.caption_size_h2{
    font-size: 74px;
}

.caption_size_h1{
    font-size: 90px;
}

.caption_size_h3{
    font-size: 50px;
}

.caption_color_white{
    color: var(--white);
}

.caption_color_yellow{
    color: var(--yellow);
}

.caption_color_black{
    color: var(--main-text);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.button_size_small{
    height: 53px;
    padding: 0 25px;
    border-radius: 10px;
    font-size: 20px;
}

.button_size_normal{
    height: 84px;
    padding: 0 50px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 400;
}

.button_size_big{
    height: 100px;
    padding: 0 50px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 400;
}

.button_color_yellow{
    background-color: var(--yellow);
    color: var(--main-text);
}

.button_color_white{
    background-color: var(--white);
    color: var(--main-text);
}

.container{
    max-width: 1630px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header{
    height: 110px;
    background-color: var(--purple);
    width: 1630px;
    padding: 0 36px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: 2;
}

.header-links{
    display: flex;
    align-items: center;
    grid-gap: 20px;
}

.main-slider-section{
    position: relative;
}

.main-slider__prev{
    position: absolute;
    left: calc((100vw - 1600px)/2);
    top: 0;
    bottom: 0;
    margin: auto;
    height: 60px;
    width: 40px;
    z-index: 4;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-slider__next{
    position: absolute;
    right: calc((100vw - 1600px)/2);
    top: 0;
    bottom: 0;
    margin: auto;
    height: 60px;
    width: 40px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-slider__pic{
    width: 100%;
    height: 100dvh;
    object-fit: cover;
}

.info-section{
    position: relative;
    background-color: var(--white);
    padding-bottom: 150px;
    padding-top: 100px;
}

.info-section:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 100%;
    height: 420px;
    width: 100%;
    background-image: url(../img/main-content-top.png);
    z-index: 2;
    background-size: 100% 100%;
    background-position: center 100%;
    background-repeat: no-repeat;
}

.main__main-slider-section{
    margin-bottom: 100px;
}

.info-section__caption{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 40px;
}

.info-section__subcaption{
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 40px;
}

.info-section__button{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;
}

.info-steps{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 200px;
}

.info-step__caption{
    margin-bottom: 50px;
}

.info-step:not(:last-child){
    position: relative;
}

.info-step:not(:last-child):after{
    content: '';
    position: absolute;
    left: calc(100% + 50px);
    top: 50px;
    width: 50px;
    height: 70px;
    background-image: url(../img/arrow-black-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.info-section__info-steps{
    margin-bottom: 90px;
}

.info-section__prize-caption{
    margin-bottom: 90px;
}

.prizes-columns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 150px;
}

.prize-column{
    background-color: var(--purple);
    padding: 40px 50px 170px;
    border-radius: 10px;
    position: relative;
}

.prize-column__text span{
    font-size: 40px;
}

.prize-column__caption{
    margin-bottom: 35px;
}

.prize-column__promo{
    font-size: 70px;
    font-weight: 700;
}

.prize-column__ps5{
    position: absolute;
    bottom: -40px;
    right: 0;
}

.prize-column__oculus{
    position: absolute;
    bottom: -40px;
    left: 130px;
}

.cosmo-section{
    background-image: url(../img/main-content-bottom.png), url(../img/space-pic.jpg);
    background-repeat: no-repeat;
    background-position: center 0, center;
    background-size: contain, cover;
    padding-top: 600px;
    padding-bottom: 500px;
}

.cosmo-info__caption span{
    color: var(--yellow);
}

.cosmo-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cosmo-info__text{
    max-width: 370px;
    margin-bottom: 50px;
}

.games-section{
    background-color: var(--blue);
    background-image: url(../img/action-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.games-section__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.games-section__info{
    padding: 40px 50px;
    border: 1px solid var(--yellow);
    border-radius: 30px;
    max-width: 550px;
}

.games-slide{
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
    padding: 40px;
}

.games-slide__text{
    text-align: center;
    min-height: 50px;
}

.games-section__games-slider-wrapper{
    margin-bottom: 140px;
}

.games-section__subcaption{
    margin-bottom: 50px;
}

.places{
    display: flex;
    align-items: center;
    grid-gap: 50px;
}

.prizes-section__top{
    padding-top: 200px;
}

.prizes-section__top .container{
    display: grid;
    grid-template-columns: 850px 400px;
    justify-content: space-between;
}

.prizes-section__top .caption{
    margin-bottom: 30px;
}

.prize-section__content{
    background-image: url(../img/game-section-bg.png);
    background-size: 100% 100%;
    background-position: center 0;
    padding-top: 650px;
    padding-bottom: 650px;
}

.prize-section__prize-items{
    margin-bottom: 140px;
}

.prize-section__caption{
    max-width: 730px;
    margin-bottom: 120px;
}

.prizes-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 110px;
}

.prizes-item{
    position: relative;
}

.prizes-item_order_1 .text{
    position: absolute;
    left: 0;
    top: 0;
}

.prizes-item_order_2 .text{
    position: absolute;
    left: 220px;
    top: 20px;
}

.prizes-item_order_3 .text{
    margin-left: 60px;
    margin-bottom: -60px;
}

.prizes-item_order_3{
    margin-top: -150px;
}

.prizes-item_order_4{
    margin-top: 100px;
}

.prizes-item_order_4 .text{
    position: absolute;
    left: 280px;
    top: 20px;
    width: max-content;
}

.prizes-item_order_5{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    grid-gap: 50px;
}

.prizes-item_order_6 .text{
    position: absolute;
    left: -40px;
    top: -40px;
}

.prizes-item_order_6{
    margin-top: 80px;
}

.prize-field{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.game-field-wrapper{
    width: 860px;
    height: 920px;
}

.prize-field__caption{
    margin-bottom: 120px;
}

.prize-field__info{
    border: 3px solid var(--yellow);
    background-color: var(--white);
    padding: 55px 45px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    border-radius: 10px;
}

.prize-field__info:not(:last-child){
    margin-bottom: 30px;
}

.prize-field__button{
    margin-top: 65px;
}

.winners-section{
    background-color: var(--purple);
    padding: 100px 0;
    background-image: url(../img/table-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    /* background-size: contain; */
}

.winners-section__caption{
    margin-bottom: 80px;
}

.winners-table{
    width: 100%;
    max-width: 1190px;
}

.winners-table th{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--white);
    text-align: left;
    padding: 25px;
}

.winners-table th:first-child,
.winners-table td:first-child{
    padding-left: 0;
}

.winners-table th:last-child,
.winners-table td:last-child{
    padding-right: 0;
}

.winners-table td{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--white);
    padding: 25px;
}

.winners-section__winners-table{
    margin-bottom: 80px;
}

.faq-section{
    background-color: var(--blue);
    padding-top: 100px;
    padding-bottom: 200px;
    background-image: url(../img/questions-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    /* background-size: contain; */
}

.faq-section__caption{
    margin-bottom: 35px;
}

.questions-list__answer{
    padding: 50px;
    border: 3px solid var(--yellow);
    max-width: 1180px;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    display: none;
}

.questions-list__answer_active{
    display: block;
}

.questions-list__answer b{
    font-weight: 700;
    margin-bottom: 30px;
    display: block;
}

.questions-list__question{
    display: inline-flex;
    text-decoration: underline;
}

.questions-list li:not(:last-child){
    margin-bottom: 20px;
}

.faq-section__questions-list{
    margin-bottom: 80px;
}

.question-form{
    max-width: 850px;
    width: 100%;
}

.question-form__item{
    display: flex;
    align-items: flex-start;
}

.question-form__item:not(:last-child){
    margin-bottom: 35px;
}

.question-form__label{
    width: 140px;
}

.question-form__button{
    margin-top: 70px;
    margin-left: 120px;
    margin-bottom: 170px;
}

.footer{
    background-color: var(--purple);
    padding-top: 90px;
    padding-bottom: 180px;
}

.footer-columns{
    display: flex;
    justify-content: space-between;
}

.footer-links li:not(:last-child){
    margin-bottom: 25px;
}

.soc-links{
    display: flex;
    grid-gap: 20px;
}