@media(max-width: 1200px){

    .header{
        margin-bottom: 75px;
    }

    .info-links{
        padding: 0 15px;
        box-sizing: border-box;
        right: auto;
    }

    .container{
        padding: 0 15px;
        box-sizing: border-box;
    }

    .section-margin{
        margin-bottom: 60px;
    }

    .caption_size_h1{
        font-size: 28px;
    }

    .caption_size_h2{
        font-size: 24px;
    }

    .caption_size_h3{
        font-size: 20px;
    }

    .text{
        font-size: 16px;
    }

    .link{
        font-size: 16px;
    }

    .caption-margin{
        margin-bottom: 30px;
    }

    .header-bar{
        width: 100vw;
        flex-direction: row-reverse;
        height: 75px;
        padding: 0;
        align-items: center;
        object-fit: cover;
    }

    .hamburger{
        width: 75px;
        height: 75px;
    }

    .header-bar__outer-links{
        display: none;
    }

    .header-bar__menu{
        flex-direction: row;
        margin-left: 20px;
    }

    .header-bar__menu li:not(:last-child){
        margin-bottom: 0;
        margin-right: 20px;
    }

    .header-overlay{
        padding-left: 15px;
        padding-right: 15px;
    }

    .banner-pic img{
        /* height: calc(50vh);
         */
    }

    .big-image-block,
    .about-image-block{
        flex-direction: column-reverse;
        grid-gap: 30px;
    }

    .big-image-block__content,
    .about-image-block__content{
        grid-gap: 20px;
    }

    .big-image-block__image,
    .about-image-block__image{
        max-width: 100%;
        height: 290px;
        margin-bottom: 0;
        object-fit: cover;
    }

    .steps-block__items{
        grid-template-columns: 1fr;
    }

    .steps-block__item_size_big{
        grid-column-start: auto;
        grid-column-end: auto;
    }

    .steps-block__item{
        background-size: cover;
        height: 220px;
    }

    .steps-block__item span{
        font-size: 20px;
    }

    .helpfull-pages__items{
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }

    .helpfull-pages__link span{
        font-size: 18px;
    }

    .news-block__items{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 30px;
    }

    .news-item__text{
        margin-bottom: 20px;
    }

    .news-item__link{
        font-size: 16px;
    }

    .news-item__image{
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .news-block__link{
        font-size: 14px;
    }

    .news-block__header{
        flex-direction: column;
        align-items: flex-start;
    }

    .email-form{
        flex-direction: column;
        align-items: flex-start;
    }

    .email-form__button{
        width: 100%;
    }

    .email-form__input{
        text-align: center;
    }

    .footer__top{
        grid-template-columns: 1fr;
    }

    .footer-form__logos{
        margin-bottom: 20px;
    }

    .footer-form__text{
        font-size: 16px;
    }

    .footer__phone{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .footer__adress{
        margin-bottom: 20px;
    }

    .footer__left{
        padding: 15px;
    }

    .footer__right{
        padding: 30px 15px;
    }

    .footer-links{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        width: 100%;
        grid-gap: 40px;
    }

    .footer__bottom{
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 10px;
        padding-bottom: 20px;
    }

    .footer-links__link{
        font-size: 18px;
    }

    .years-grid{
        grid-template-columns: 1fr;
    }

    .years-item{
        padding: 15px;
    }

    .years-item__image-wrapper{
        min-height: 200px;
        height: 200px;
    }

    .partners-items{
        flex-wrap: wrap;
        grid-gap: 30px;
        justify-content: space-around;
    }

    .partners-items img{
        max-width: 120px;
        max-height: 100px;
    }

    .prizes-block__top{
        flex-direction: column;
        grid-gap: 20px;
    }

    .prizes-item{
        flex-direction: column;
    }

    .prizes-item__place{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .prizes-item__content{
        padding-bottom: 30px;
    }

    .prizes-items{
        margin-bottom: 60px;
    }

    .schedule-row__top{
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .schedule-row__link{
        margin-left: 0;
        margin-top: 20px;
        margin-right: auto;
        width: 100%;
    }

    .schedule-row .text{
        font-size: 16px;
    }

    .schedule-items{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .gallery-grid__image{
        height: 160px;
    }

    .gallery-grid__image:nth-child(2){
        height: 330px;
    }

    .streams-block__items{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .streams-block__top{
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 10px;
    }

    .streams-item__image{
        margin-bottom: 20px;
        height: 200px;
    }

    .streams-item__caption{
        margin-bottom: 10px;
    }

    .streams-item__description{
        margin-bottom: 30px;
    }

    .condition-item__caption{
        font-size: 18px;
    }

    .pagination__link{

    }

    .pagination__next-link span{
        display: none;
    }

    .gallery-section__gallery-section-items{
        grid-gap: 30px;
    }

    .gallery-filter{
        grid-gap: 15px;
        margin-bottom: 20px;
    }

    .account-links{
        position: fixed;
        left: 0;
        top: 75px;
        width: 100vw;
        height: calc(100vh - 75px);
        background-color: var(--brown);
        transform: translateX(-100%);
        transition: .3s;
    }

    .account-links__link{
        padding: 0 15px;
    }

    .account-links__link span{
        font-size: 14px;
    }

    .account-links_is-active{
        transform: translateX(0);
    }

    .account-profile{
        padding: 0;
        align-items: center;
        height: auto;
        display: flex;
    }

    .account-profile__pic{
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .account-profile__name{
        font-size: 16px;
        line-height: 1;
        margin-bottom: 0;
    }

    .account-profile__cabtext{
        font-size: 11px;
    }

    .account-header{
        position: fixed;
        top: 0;
        left: 0;
        height: 75px;
        width: 100vw;
        flex-direction: row;
        padding: 0 0 0 15px;
        box-sizing: border-box;
        justify-content: space-between;
        z-index: 10;
    }

    .account-wrapper{
        flex-direction: column;
    }

    .account-header .hamburger{

    }

    .account-page{
        padding: 100px 15px 15px;
        height: auto;
    }

    .account-subcaption{
        font-size: 16px;
    }

    .application-block{
        height: auto;
        min-height: 50px;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: flex-end;
    }

    .application-block__info{
        width: calc(100% - 50px);
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 15px 0 0;
        grid-gap: 10px;
    }

    .application-block__date{
        position: static;
        margin: 0;
    }

    .account-current-competition__middle{
        flex-direction: column;
    }

    .account-current-competition__header{
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 20px;
    }

    .account-current-competition__image{
        max-width: 100%;
    }

    .account-tabs{
        grid-gap: 20px;
    }

    .info-items{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 30px;
    }

    .account-info{
        flex-direction: column;
        grid-gap: 20px;
    }

    .account-content__account-info{
        margin-bottom: 40px;
    }

    .account-info__pic-block{
        width: 100%;
    }

    .account-stats{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 20px;
        width: 100%;
    }

    .expirience-wrapper__input-group{
        display: flex;
        flex-direction: column;
    }

    .translations-page,
    .news-page{
        padding-top: 40px;
    }

    .translations-page__caption{
        margin-bottom: 40px;
    }

    .main-translation-block{
        padding: 20px;
    }

    .translations-page__main-translation-block{
        margin-bottom: 40px;
    }

    .translation-item__caption{
        font-size: 16px;
        margin-bottom: 10px;
    }

    .main-translation-block__video iframe{
        height: 200px;
    }

    .main-news-block{
        flex-direction: column;
    }

    .main-news-block__pic img{
        height: 200px;
        width: 100%;
    }

    .main-news-block__pic{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .main-news-block{
        padding: 20px;
    }

    .main-news-block__caption{
        margin-bottom: 20px;
    }

    .main-news-block__date{
        font-size: 16px;
    }
}
